---
keywords:
    content: software engineer, developer
author:
    content: José Gabriel Gruber
menus:
    - title: Who am i
      url: '#about'
    - title: Projects
      url: '#working'
    - title: Experiences
      url: '#experiences'
    - title: Skills
      url: '#skills'
    - title: Education
      url: '#education'
about:
  title: Title
  phrase: Phrase
  description: Description
works:
  - title: Title
    description: Description
    link: '#'
projects:
  - title: Title
    description: Description
    link: '#'
experiences:
  - title: Title
    local: Local
    period: Period
educations:
  - title: Title
    local: Local
    period: Period
---

<!DOCTYPE html>
<html class="snap-mandatory snap-y">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta name="author" {{ author | attr | safe }} />
    <meta name="description" {{ description | attr | safe }} />
    <meta name="keywords" {{ keywords | attr | safe }} />
    <meta name="theme-color" content="#60a5fa"/>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <nav id="header" class="fixed w-full z-10 top-0">

        <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #2ad4ff var(--scroll), transparent 0);"></div>

        <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

            <div class="pl-4 flex flex-row">
                <a class="text-gray-600 text-base no-underline hover:no-underline font-extrabold text-xl" href="/">
                    jgabrielgruber<span class="text-primary">.dev</span>
                </a>
            </div>

            <div class="block lg:hidden pr-4">
                <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-primary appearance-none focus:outline-none">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>

            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center">
                    <li class="mr-3">
                        <a class="flex-1 block md:inline-block appearance-none bg-primary text-white text-base font-semibold tracking-wider uppercase py-1 px-2 rounded shadow hover:bg-primary-darker" href="https://drive.google.com/file/d/1EqoOtzyQpuCUeoMd1uQOSMHnMZzJ20NN/view?usp=share_link" target="_blank">Resume</a>
                    </li>
                    {% for menu in menus %}
                        <li class="mr-3">
                            <a class="container inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="{{ menu.url }}">
                                {{ menu.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <!--Container-->
    <div class="container w-full md:max-w-3xl mx-auto pt-20" id="content">

        <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl text-center">{{ main_title }}</h1>

        <div class="w-full px-4 md:px-6 text-xl leading-normal snap-start scroll-mt-64 scroll-pb-96" id="about">
            <div class="container mx-auto flex flex-col md:flex-row items-center mb-12 mt-20 md:my-24">
                <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-4 md:pt-12 pb-6 px-6" itemscope itemtype="https://schema.org/Person">
                    <p class="uppercase tracking-loose" itemprop="jobTitle">{{ about.title }}</p>
                    <h2 class="font-bold text-4xl my-2" itemprop="seeks">{{ about.phrase }}</h1>
                    <p class="leading-normal">{{ about.description }}</p>
                </div>
                <div class="w-full lg:w-1/2 lg:py-6 text-center px-6">
                    <div class="h-60 mx-auto lg:h-52 bg-gray-300 md:h-38 w-full object-cover object-center"></div>
                </div>
            </div>
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-400 mb-8 mx-4">

        <div class="w-full px-4 md:px-6 text-xl leading-normal snap-center">
            <div class="flex flex-col w-full justify-center items-start px-6 mb-4">
                <h2 class="font-bold text-4xl my-4" id="working">What I'm working on</h1>
            </div>
            {{ comp.cards({items: works}) | safe }}
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-400 mb-8 mx-4">

        <div class="w-full px-4 md:px-6 text-xl leading-normal snap-center">
            <div class="flex flex-col w-full justify-center items-start px-6 mb-4">
                <h2 class="font-bold text-4xl my-4" id="projects">Projects</h1>
            </div>
            {{ comp.cards({items: projects}) | safe }}
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-400 mb-8 mx-4">

        <div class="w-full px-4 md:px-6 text-xl leading-normal snap-center">
            <div class="flex flex-col w-full justify-center items-start px-6 mb-4">
                <h2 class="font-bold text-4xl my-4" id="experiences">Experiences</h1>
                {% for experience in experiences %}
                    <h3 class="font-bold text-2xl">{{ experience.title }}</h2>
                    <h4 class="text-xl">{{ experience.local }}</h3>
                    <h5 class="text-base">{{ experience.period }}</h4>
                {% endfor %}
            </div>
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-400 mb-8 mx-4">

        <div class="w-full px-4 md:px-6 text-xl leading-normal snap-center">
            <div class="flex flex-col w-full justify-center items-start px-6 mb-4">
                <h2 class="font-bold text-4xl my-4" id="education">Education</h1>
                {% for education in educations %}
                    <h3 class="font-bold text-2xl">{{ education.title }}</h2>
                    <h4 class="text-xl">{{ education.local }}</h3>
                    <h5 class="text-base">{{ education.period }}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/container-->

    <footer class="bg-white border-t border-gray-400 shadow">
        <div class="container max-w-4xl mx-auto flex py-8">

            <div class="w-full mx-auto flex flex-wrap">
                <div class="flex w-full md:w-1/2 ">
                    <div class="px-8">
                        <h3 class="font-bold text-gray-900">About</h3>
                        <p class="py-4 text-gray-600 text-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                        </p>
                    </div>
                </div>

                <div class="flex w-full md:w-1/2">
                    <div class="px-8">
                        <h3 class="font-bold text-gray-900">Social</h3>
                        <ul class="list-reset items-center text-sm pt-3">
                            <li>
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#">Add social link</a>
                            </li>
                            <li>
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#">Add social link</a>
                            </li>
                            <li>
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#">Add social link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        /* Progress bar */
        //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight',
            progress = document.querySelector('#progress'),
            scroll;
        var content = document.getElementById('content');
        var scrollpos = window.scrollY;
        var header = document.getElementById("header");
        var navcontent = document.getElementById("nav-content");

        document.addEventListener('scroll', function() {

            /*Refresh scroll % width*/
            scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
            progress.style.setProperty('--scroll', scroll + '%');

            /*Apply classes for slide in bar*/
            scrollpos = window.scrollY;

            if (scrollpos > 10) {
                header.classList.add("bg-white");
                header.classList.add("shadow");
                navcontent.classList.remove("bg-gray-100");
                navcontent.classList.add("bg-white");
            } else {
                header.classList.remove("bg-white");
                header.classList.remove("shadow");
                navcontent.classList.remove("bg-white");
                navcontent.classList.add("bg-gray-100");

            }

        });


        //Javascript to toggle the menu
        document.getElementById('nav-toggle').onclick = function() {
            document.getElementById("nav-content").classList.toggle("hidden");
        }

        //Javascript to smooth scrolling anchor link
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>

</html>