---
items:
    - link: '#'
      title: Title
      description: Description
---

<div class="grid grid-rows-1 grid-flow-col overflow-x-auto gap-4 mb-8 snap-mandatory snap-x">
    {% for item in items %}
        <div class="min-w-min mb-6 bg-gradient-to-b from-blue-100 to-gray-100 rounded-lg shadow-xl p-4 snap-center">
            <a href="{{ item.link }}" class="container font-sans text-left">
                <div class="h-32 w-56 mx-auto lg:h-52 lg:w-96 bg-gray-300 md:h-38 md:w-72 object-cover object-center"></div>
                <h2 class="font-bold break-normal text-xl md:text-3xl">{{ item.title }}</h2>
                <h3 class="font-bold break-normal text-gray-600 text-sm md:text-base">{{ item.description }}</h3>
            </a>
        </div>
    {% endfor %}
</div>